<?xml version="1.0"?>
<configuration>
    <startup useLegacyV2RuntimeActivationPolicy="true">
        <supportedRuntime version="v4.0"/>
    </startup>
  <appSettings>
    <add key="ReposUri" value=""/>
    <add key="DefaultPath" value="C:\\Studiofarma\\DPCO\\tags"/>
    
  </appSettings>
</configuration>